<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Title Page-->
    <title>Student Edit</title>

    <!-- Fontfaces CSS-->
    <link href="font-face.css" rel="stylesheet" media="all">
    <link href="font-awesome.min.css" rel="stylesheet" media="all">
    <link href="fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="Form.css">

    <!-- Bootstrap CSS-->
    <link href="bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="animsition.min.css" rel="stylesheet" media="all">
    <link href="bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="animate.css" rel="stylesheet" media="all">
    <link href="hamburgers.min.css" rel="stylesheet" media="all">
    <link href="slick.css" rel="stylesheet" media="all">
    <link href="select2.min.css" rel="stylesheet" media="all">
    <link href="perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="#">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="#">
                            <!-- <img src="images/icon/logo-white.png" alt="CoolAdmin" /> -->
                        </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li>
                                <a href="/users/Admin-Dashboard">
                                    <i class="fas "></i>Home
                                    <span class="bot-line"></span>
                                </a>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas "></i>
                                    <span class="bot-line"></span>Student
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="/users/Student-View">Students View</a>
                                    </li>
                                    <li>
                                        <a href="/users/Student-Edit">Students Edit</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas "></i>
                                    <span class="bot-line"></span>Room
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="/users/Room-View">Room View</a>
                                    </li>
                                    <li>
                                        <a href="/users/Room-Edit">Room Edit</a>
                                    </li>
                                    <li>
                                        <a href="/users/Add-Room">Add Room</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="Room-Shifting.html">
                                    <i class="fas "></i>Room Shifting
                                    <span class="bot-line"></span>
                                </a>
                            </li>
                            <li>
                                <a href="Check-Out.html">
                                    <i class="fas "></i>Check out
                                    <span class="bot-line"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__tool">
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                    <img src="images/icon/avatar-01.png" alt="Raees" />
                                </div>
                                <!-- <div class="content">
                                    <a class="js-acc-btn" href="#">Raess Malik</a>
                                </div> -->
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <img src="images/icon/avatar-01.png" alt="Raees" />
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                Raees Malik
                                            </h5>
                                            <span class="email">f190963@cfd.nu.edu.pk</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="Admin-Profile.html">
                                                <i class="zmdi zmdi-account"></i>Profile
                                            </a>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a href="/users/Logout" target="_self">
                                            <i class="zmdi zmdi-power"></i>Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- HEADER MOBILE-->
        <header class="header-mobile header-mobile-2 d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <!-- <img src="images/icon/logo-white.png" alt="CoolAdmin" /> -->
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="Admin-Dashboard.html">
                                <i class="fas "></i>Home
                            </a>
                        </li>

                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas "></i>Student</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="Student-View.html">Students View</a>
                                </li>
                                <li>
                                    <a href="Student-Edit.html">Students Edit</a>
                                </li>
                            </ul>
                        </li>


                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas "></i>Room</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="Room-View.html">Room View</a>
                                </li>
                                <li>
                                    <a href="Room-Edit.html">Room Edit</a>
                                </li>
                                <li>
                                    <a href="Add-Room.html">Add Room</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="Room-Shifting.html">
                                <i class="fas "></i>Room Shifting
                                <span class="bot-line"></span>
                            </a>
                        </li>
                        <li>
                            <a href="Check-Out.html">
                                <i class="fas "></i>Check out
                                <span class="bot-line"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/users/Login">
                                <i class="fas "></i>Logout
                                <span class="bot-line"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="sub-header-mobile-2 d-block d-lg-none">
            <div class="header__tool">

                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img src="images/icon/avatar-01.png" alt="Raees" />
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#">Raees Malik</a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img src="images/icon/avatar-01.png" alt="Raees" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        Raees Malik
                                    </h5>
                                    <span class="email">f190963@cfd.nu.edu.pk</span>
                                </div>
                            </div>
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a href="Admin-Profile.html">
                                        <i class="zmdi zmdi-account"></i>Profile
                                    </a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-settings"></i>Setting
                                    </a>
                                </div>
                            </div>
                            <div class="account-dropdown__footer">
                                <a href="#">
                                    <i class="zmdi zmdi-power"></i>Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HEADER MOBILE -->

        <!-- PAGE CONTENT-->
        <div class="#">

            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                    <!-- <h3>Register Your Self</h3> -->
                    <div class="card" style="    background: rgba(236, 213, 213, 0.412);">
                        <h3 class="text-center mb-4">Student Edit</h3>  
                        <form class="form-card" method="post" action="/users/update/<%= data._id %>">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3">Phone number<span class="text-danger">
                                            *</span></label>
                                    <input type="number" id="mob" name="mob" value="<%= data.mobile  %>">
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3">Address<span class="text-danger">
                                            *</span></label>
                                    <input type="text" id="address" name="address" value="<%= data.address%>">
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3">Home Phone<span class="text-danger">
                                            *</span></label>
                                    <input type="number" id="HP" name="HP" value="<%= data.home_phone%>">
                                </div>

                                <div class=" form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3">Postal Code<span class="text-danger">
                                            *</span></label>
                                    <input type="text" id="PC" name="PC" value="<%= data.postal_code%>">
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3">City<span class="text-danger">
                                            *</span></label>
                                    <input type="text" id="city" name="city" value="<%= data.city%>">
                                </div>

                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3">To Date<span class="text-danger">
                                            *</span></label>
                                    <input type="date" id="cid" name="cid" value="<%= data.cid%>">
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3">Room Type<span class="text-danger">*</span>
                                    </label>
                                    <select name="room" id="room" class="form-control">
                                        <option><%= data.room_type %> </option>
                                        <option>Single</option>
                                        <option>Double</option>
                                    </select>
                                </div>


                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3">Room Number<span class="text-danger">*</span>
                                    </label>
                                    <select name="room_num" id="room_num" class="form-control">
                                        <option disabled selected><%= data.room_number%> </option>
                                        <option>4</option>
                                        <option>3</option>
                                        <option>101</option>
                                        <option>40</option>
                                        <option>34</option>
                                        <option>14</option>
                                        <option>49</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="form-group col-sm-6">
                                    <button type="submit" class="btn-block"
                                        style="background: rgba(11, 72, 98, 0.412);">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="reg.js"></script>

    </div>

    <!-- Jquery JS-->
    <script src="jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="slick.min.js">
    </script>
    <script src="wow.min.js"></script>
    <script src="animsition.min.js"></script>
    <script src="bootstrap-progressbar.min.js">
    </script>
    <script src="jquery.waypoints.min.js"></script>
    <script src="jquery.counterup.min.js">
    </script>
    <script src="circle-progress.min.js"></script>
    <script src="perfect-scrollbar.js"></script>
    <script src="Chart.bundle.min.js"></script>
    <script src="select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="main.js"></script>

</body>

</html>
<!-- end document-->